.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  gap: 10px;
}
.header-menu a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}

.header-menu a.header-btn {
  color: white;
  background: #2931f8;
  border-radius: 10px;
}

.header-menu a.header-btn:hover {
  background: linear-gradient(#babcfa, #2931f8);
}
.header-menu a:focus {
  outline: 5px solid #2931f8;
  outline-offset: -5px;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
    gap: 50px;
  }
  .header-menu a.header-btn {
    color: black;
    background: none;
  }
  .header-menu a.header-btn:hover {
    background: none;
  }
}

@media only screen and (max-width: 600px) {
  .header-menu {
    flex-direction: column;
    gap: 25px;
  }

  .header-menu a {
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  .header-menu a:hover {
    background-color: white;
  }

  .header-menu a.header-btn {
    color: black;
    background: #f5f5f5;
    border-radius: 10px;
  }
}
